.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: center;
}
.card {
  width: 30%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}
.inputs{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 100px;
}
input{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  outline: none;
  height: 30px;
}
select{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  outline: none;
  height: 30px;
  color: gray;
}
form{
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}